<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:name=".GlobalApplication" android:largeHeap="true">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="dccc7c0ddbd4beddfdaf5655ef4463ce" />

        <activity
            android:name=".ReviewActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MapActivity" />
        </activity>
        <activity android:name=".getMapGpsActivity" />
        <activity
            android:name=".AddSmokingAreaActivity"
            android:label="@string/title_activity_add_smoking_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BoardActivity"
            android:label="@string/title_activity_board_acitivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MapActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BoardWriteActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BoardActivity" />
            <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key" />
        </activity>

        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".BoardDetailActivity"
            android:parentActivityName=".BoardActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing|stateHidden"
        />
    </application>

</manifest>